- name: git checkout code latest
  git:
    repo: 'https://github.com/26lumineers/demo-nodejs-mongodb-rest.git'
    dest: /tmp/demo-nodejs-mongodb-rest
    version: master

- name: Build docker images
  command: docker build -f /tmp/demo-nodejs-mongodb-rest/Dockerfile -t 26lumineers/nodejs-demo:"{{ tagnumber }}" /tmp/demo-nodejs-mongodb-rest

- name: Docker tag images
  command: docker tag 26lumineers/nodejs-demo:"{{ tagnumber }}" 26lumineers/nodejs-demo:lastest

- name: Docker push
  command: docker push 26lumineers/nodejs-demo:lastest
